<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarih Listesi</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="{{ '/assets/custom.css' | relative_url }}">
</head>
<body>
  <main class="section">
    <div class="container content">
      {{ content }}
    </div>
  </main>
  <script src="{{ '/assets/app.js' | relative_url }}"></script>
</body>
</html>